@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

body {
  font-family: Lato, sans-serif;
  color: #0c162c;
}

h1 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0c162c;
}

h2,
h3 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #d6d8db;

}

hr {
  border-top: 1px solid #fff;
  margin-top: 2px;
  width: 90%;
}

/*---------------------------Grid Structure--------*/
.grid-wrap {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}


/*---------------------------Header & Navigation----*/
header {  
background-color: green;
grid-area: header;
}

nav {
  background-color: orange;
  grid-area: nav;
}

nav ul {
  display: flex;
  float: right;
  list-style-type: none;
}

nav li {
  margin-left: 20px;
  list-style-type: none;
}

/*---------------------------Content----------------*/

.content {
 grid-area: content;
 background: url("../images/background.jpg") no-repeat;
 width: 100%;
}




/*---------------------------Footer-----------------*/

footer {
  background-color: blue;
  grid-area: footer;
  position: relative;
  height: 100px;

}

footer div {
  text-align: center;
  padding-right: 30px;
}

footer li {
  display: inline-block;
  padding: 10px;
}

footer i {
  font-size: 160%;
  color: #0c162c;

}

footer p {
  font-size: x-small;

}


/*---------------------------Responsivity------------*/

@media (min-width: 500px) {
  
  .grid-wrap {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header nav"
      "content content"
      "footer footer";
  }
  
  nav ul {
    display: flex;
  
  }
}
